<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongjie.accessgate.mapper.TempUserMapper">
  <resultMap id="BaseResultMap" type="com.tongjie.accessgate.model.TempUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="oder_id" jdbcType="INTEGER" property="oderId" />
  </resultMap>
</mapper>